{% extends "base.html" %}

{% block content %}
    <h1>Add New House Listing</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}
        </div>
        <br>

        <div>
            {{ form.location.label }}<br>
            {{ form.location(size=40) }}
        </div>
        <br>

        <div>
            {{ form.price.label }}<br>
            {{ form.price(size=40) }}
        </div>
        <br>

        <div>
            {{ form.image.label }}<br>
            {{ form.image(size=40) }}
        </div>
        <br>

        <div>
            {{ form.submit(class_="add-btn") }}
        </div>
    </form>

    <br><a href="{{ url_for('main.index') }}">← Back to Home</a>
{% endblock %}
